body {
  background-color: #2C3E50;
  color: #F39C12;
  font-family: 'Roboto', normal;
}

h1 {
  margin: 30px;
  font-size: 8rem;
  font-family: 'Lobster', cursive;
}

p {
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
}

img {
  width: 80%;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}
