<%- include("header") -%>

<h2>This is the about page</h2>

<p>jkhkjshjks dhfjkh sjkdfh sjkdf jksdfhjksfhjks dhjfk sjkdfjksdfhjkshdfjk sdjkf sjkdf jksd fjks djfkhsjkdf hsjkd fhs</p>

<p>
    Id dolore proident exercitation anim sint do est do. Magna ipsum enim aute ullamco pariatur consequat velit. Commodo et ea incididunt et esse ex ullamco sit do.
</p>
<p>
    Ea reprehenderit aliquip ea cupidatat eiusmod occaecat laborum culpa ut enim. Id do pariatur duis sint aute nostrud laborum nostrud veniam commodo. Tempor quis excepteur fugiat pariatur dolor nisi do.
</p>
    
<p>
    Esse aliquip sunt magna sint anim laborum ipsum amet deserunt est fugiat duis laborum. Est incididunt quis ex minim laboris. Labore anim mollit id ea deserunt magna amet pariatur commodo ad velit qui ut consectetur.
</p>

<p>
    Non pariatur ipsum pariatur velit do in proident in irure ad officia ea fugiat officia. Eu aute nulla nulla occaecat laboris pariatur elit duis deserunt do excepteur est veniam magna. Fugiat id tempor irure ea laborum ea anim excepteur dolore occaecat nostrud. Consectetur voluptate enim qui labore magna reprehenderit aute proident ea cupidatat. Consequat magna est et do dolor ex magna non laboris eiusmod commodo. Consequat Lorem velit laborum nostrud id ex amet dolore.
</p>

<%- include("footer") -%>
